[user]
    name = Matt Mendell
    email = matthew.mendell@gmail.com

[core]
    pager = less
    editor = vim
    excludesfile = ~/.gitignore

[color]
    ui = auto

[merge]
    tool = vimdiff

[alias]
    aa = add --all
    amend = commit --amend
    b = branch
    ci = commit
    co = checkout
    di = diff
    ds = diff --staged

    l = "!source ~/.githelpers && pretty_git_log"
    la = !git l --all
    r = !git l -20
    ra = !git r --all

    st = status

